name: .NET Core Maui Android

on:
  check_run:
    types: [rerequested, requested_action]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Release]

    runs-on: macos-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: ActionGithubDemo.sln                    # Replace with your solution name, i.e. MyWpfApp.sln.
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    # get current folder
    - name: Folder current
      run: ls
      
    - name: install workload
      run: dotnet workload list      
    
    # Restore the application 
    - name: Restore the application
      run: dotnet workload restore

    # pushlic app
    - name: public the application
      run: dotnet publish -f:net7.0-android -c:Release /p:AndroidSigningKeyPass=${{secrets.AndroidSigningKeyPass}} /p:AndroidSigningStorePass=${{secrets.AndroidSigningStorePass}}

    - name: Firebase App Distribution Action
      uses: hasretsariyer/firebase-app-distribution-github-action@v1.0
      with:
          app_id: ${{secrets.FIREBASEAPPID}}
          serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          app_file: bin/Release/net7.0-android/publish/com.companyname.actiongithubdemo-Signed.apk
