name: .NET Core Maui Android

on:
  push:
    branches:
      - master
      - Dev

jobs:

  build-android:
    strategy:
      matrix:
        configuration: [Release]

    runs-on: macos-latest  # For a list of available runner types, refer to
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: ActionGithubDemo.sln                    # Replace with your solution name, i.e. MyWpfApp.sln.
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x   
    
    # Restore the application 
    - name: Restore the application
      run: dotnet workload restore

    # pushlic app
    - name: public the application
      run: dotnet publish -f:net7.0-android -c:Release /p:AndroidSigningKeyPass=${{secrets.AndroidSigningKeyPass}} /p:AndroidSigningStorePass=${{secrets.AndroidSigningStorePass}} --output ./Publish
      
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: com.companyname.actiongithubdemo-Signed.apk
        path: Publish/com.companyname.actiongithubdemo-Signed.apk

  upload-android:
    needs: build-android
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: com.companyname.actiongithubdemo-Signed.apk
            
      - name: Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1.4.0
        with:
            appId: ${{secrets.FIREBASEAPPID}}
            serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
            file: com.companyname.actiongithubdemo-Signed.apk
